body {
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#fullpage {
    height: 100vh;
}

#fullpage section {
    height: 100vh;
}

#fullpage section h1 {
    margin: 0;
    padding: 0;
    text-align: center;
    line-height: 100vh;
    font-size: 10em;
    color: #340040;
    transform: translate(200px, 150px) opacity(0.3);
    
}

.header-1, .header-2, .header-3 {
    width: 70px;
    height: 70px;
    border-radius: 50%;
}

.video-container {
    display: flex;
    justify-content: space-around;
    padding-top: 5%;
}

.video {
    min-width: 40vw;
    min-height: 45vh;
}

.flex-container {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row-reverse;
    flex-direction: row-reverse;
    justify-content: space-around;
    padding-top: 5%;
}

figure {
    text-align: center;
}

figcaption {
    padding-top: 10%;
}

.trigger{
    width: 200px;
    height: 200px;
    border: 20px solid #ffffff;
    background: #07F2F2;
}

.box {
    display: inline-block;
    background: pink;
    width: 200px;
    height: 200px;
    transition: transform 1s ease-in;
}

.trigger:hover .box {
    transform: translate(200px, 150px) rotate(20deg);
}

#fullpage section:nth-child(1) {
    background-color: #F2055C;
    
}

#fullpage section:nth-child(2) {
    background: #07F2F2;
}

#fullpage section:nth-child(3) {
    background: #05F26C;
}

#fullpage section:nth-child(4) {
    background: #EAF205;
}

/*slider*/

* {box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
  max-width: 80vw;
  position: relative;
  margin: auto;
}

.mySlides {
    display: none;
    text-align: center;
}

.slider-img {
    height: 50vh;
    width: 50vw;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor:pointer;
  height: 13px;
  width: 13px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}