* {
    margin: 0;
    padding: 0;
    font-family: Helvetica, Verdana, sans-serif;
}

#fullpage {
    height: 100vh;
}

#fullpage section {
    height: 100vh;
    color: #340040;
}

#fullpage section h1 {
    margin: 0;
    padding: 0;
    text-align: center;
    line-height: 100vh;
    font-size: 10em;
    color: #340040;
    transform: translate(200px, 150px) opacity(0.3);
    
}

.text-header {
    text-align: center;
    text-transform: uppercase;
    font-size: 9vh;
    padding: 3vh 0 5vh 0;
}

.icone {
    width: 10vh;
    height: 10vh;
    border-radius: 50%;
}

.video-container {
    display: flex;
    justify-content: space-around;
}

.video {
    min-width: 35vw;
    min-height: 40vh;
}

.shadow-strong {
    box-shadow: 0px 18px 46px 1px rgba(0,0,0,0.75);
}

.shadow {
    box-shadow: 4px 5px 20px 1px rgba(0,0,0,0.75);
}

.flex-container {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    flex-direction: row;
    justify-content: space-around;
    padding-top: 7vh;
    max-height: 30vh;
}

figure {
    text-align: center;
    width: 33.20vw;
    padding: 5vh 5vw;
}

figcaption {
    padding-top: 5vh;
    font-size: 3vh;
}

#fullpage section:nth-child(4) {
    background-color: #F2055C;
    background-attachment: fixed;
}

#fullpage section:nth-child(1) {
    background: #07F2F2;
    background-attachment: fixed;
}

#fullpage section:nth-child(2) {
    background: #05F26C;
    background-attachment: fixed;
}

#fullpage section:nth-child(3) {
    background: #EAF205;
    background-attachment: fixed;
}

/*slider*/

* {box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
  max-width: 75vw;
  position: relative;
  margin: auto;
}

.mySlides {
    display: none;
    text-align: center;
}

.slider-img {
    max-height: 75vh;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -15vh;
  padding: 3vh;
  font-weight: bold;
  font-size: 1.2rem;
  transition: 0.6s ease;
  border-radius: 25%;
}

/* Position the "next button" to the right */
.next {
  right: 0;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  font-size: 3vh;
  position: absolute;
  bottom: 2vh;
  width: 100%;
  text-align: center;
}

/* The dots/bullets/indicators */
.dot {
  cursor:pointer;
  height: .5rem;
  width: .5rem;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

/* desert scheme ported from vim to google prettify */
pre.prettyprint { display: block; background-color: #333 }
pre .nocode { background-color: none; color: #000 }
pre .str { color: #ffa0a0 } /* string  - pink */
pre .kwd { color: #f0e68c; font-weight: bold }
pre .com { color: #87ceeb } /* comment - skyblue */
pre .typ { color: #98fb98 } /* type    - lightgreen */
pre .lit { color: #cd5c5c } /* literal - darkred */
pre .pun { color: #fff }    /* punctuation */
pre .pln { color: #fff }    /* plaintext */
pre .tag { color: #f0e68c; font-weight: bold } /* html/xml tag    - lightyellow */
pre .atn { color: #bdb76b; font-weight: bold } /* attribute name  - khaki */
pre .atv { color: #ffa0a0 } /* attribute value - pink */
pre .dec { color: #98fb98 } /* decimal         - lightgreen */

/* Specify class=linenums on a pre to get line numbering */
ol.linenums { margin-top: 0; margin-bottom: 0; color: #AEAEAE } /* IE indents via margin-left */
li.L0,li.L1,li.L2,li.L3,li.L5,li.L6,li.L7,li.L8 { list-style-type: none }
/* Alternate shading for lines */
li.L1,li.L3,li.L5,li.L7,li.L9 { }

@media print {
  pre.prettyprint { background-color: none }
  pre .str, code .str { color: #060 }
  pre .kwd, code .kwd { color: #006; font-weight: bold }
  pre .com, code .com { color: #600; font-style: italic }
  pre .typ, code .typ { color: #404; font-weight: bold }
  pre .lit, code .lit { color: #044 }
  pre .pun, code .pun { color: #440 }
  pre .pln, code .pln { color: #000 }
  pre .tag, code .tag { color: #006; font-weight: bold }
  pre .atn, code .atn { color: #404 }
  pre .atv, code .atv { color: #060 }
}
/* end skim pretify*/

.html-pretty {
    position: absolute;
    left: 28%;
    font-size: 1.1vw;
    
}

.footer {
    padding-top: 12vw;
}

.footer-caption-txt {
    font-size: 6vw;
    text-transform: uppercase;
}