* {
    margin: 0;
    padding: 0;
    font-family: Helvetica, Verdana, sans-serif;
}

#fullpage {
    height: 100vh;
}

#fullpage section {
    height: 100vh;
    color: #340040;
}

#fullpage section h1 {
    margin: 0;
    padding: 0;
    text-align: center;
    line-height: 100vh;
    font-size: 10em;
    color: #340040;
    transform: translate(200px, 150px) opacity(0.3);
    
}

.text-header {
    text-align: center;
    text-transform: uppercase;
    font-size: 9vh;
    padding: 3vh 0 5vh 0;
}

.icone {
    width: 10vh;
    height: 10vh;
    border-radius: 50%;
}

.video-container {
    display: flex;
    justify-content: space-around;
}

.video {
    min-width: 35vw;
    min-height: 40vh;
}

figcaption a {
    text-decoration: underline;
}

.shadow-strong {
    box-shadow: 0px 18px 46px 1px rgba(0,0,0,0.75);
}

.shadow {
    box-shadow: 4px 5px 20px 1px rgba(0,0,0,0.75);
}

.flex-container {
    display: -webkit-flex;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding-top: 20vh;
    max-height: 30vh;
}

figure {
    text-align: center;
    width: 33.20vw;
    padding: 5vh 5vw;
}

figcaption {
    padding-top: 5vh;
    font-size: 3vh;
}

#fullpage section:nth-child(4) {
    background-color: #F2055C;
    background-attachment: fixed;
}

#fullpage section:nth-child(1) {
    background: #07F2F2;
    background-attachment: fixed;
}

#fullpage section:nth-child(2) {
    background: #05F26C;
    background-attachment: fixed;
}

#fullpage section:nth-child(3) {
    background: #EAF205;
    background-attachment: fixed;
}

/*start lightbox*/

.row:after {
    content: "";
    display: table;
    clear: both;
}

/* The Modal (background) */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: #05F26C;
}

/* Modal Content */
.modal-content {
    position: relative;
    margin: auto;
    padding: 0;
    width: 90%;
    max-width: 1200px;
    text-align: center;
}

/* The Close Button */
.close {
    color: white;
    position: absolute;
    top: 10px;
    right: 25px;
    font-size: 35px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #999;
    text-decoration: none;
    cursor: pointer;
}

.mySlides {
    display: none;
}

/* Next & previous buttons */
.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -50px;
    color: white;
    font-weight: bold;
    font-size: 20px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
    -webkit-user-select: none;
}

.prev {
    left: 0;
}

/* Position the "next button" to the right */
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
    background-color: #340040;
}

/* Number text (1/3 etc) */
.numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}

.caption-container {
    text-align: center;
    background-color: black;
    padding: 2px 16px;
    color: white;
}

img.demo {
    opacity: 0.6;
}

.active,
.demo:hover {
    opacity: 1;
}

img.hover-shadow {
    transition: 0.3s
}

.hover-shadow:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19)
}

.flex-portfolio {
    display: flex;
    flex-flow: wrap;
    justify-content: space-between;
}

.slider-img {
    max-height: 23vh;
    margin: 1.5vh;
}

.modal-img {
    max-height: 98vh;
    padding: 1vh;
}
/*end lightbox*/

/* desert scheme ported from vim to google prettify */
pre.prettyprint { display: block; background-color: #333 }
pre .nocode { background-color: none; color: #000 }
pre .str { color: #ffa0a0 } /* string  - pink */
pre .kwd { color: #f0e68c; font-weight: bold }
pre .com { color: #87ceeb } /* comment - skyblue */
pre .typ { color: #98fb98 } /* type    - lightgreen */
pre .lit { color: #cd5c5c } /* literal - darkred */
pre .pun { color: #fff }    /* punctuation */
pre .pln { color: #fff }    /* plaintext */
pre .tag { color: #f0e68c; font-weight: bold } /* html/xml tag    - lightyellow */
pre .atn { color: #bdb76b; font-weight: bold } /* attribute name  - khaki */
pre .atv { color: #ffa0a0 } /* attribute value - pink */
pre .dec { color: #98fb98 } /* decimal         - lightgreen */

/* Specify class=linenums on a pre to get line numbering */
ol.linenums { margin-top: 0; margin-bottom: 0; color: #AEAEAE } /* IE indents via margin-left */
li.L0,li.L1,li.L2,li.L3,li.L5,li.L6,li.L7,li.L8 { list-style-type: none }
/* Alternate shading for lines */
li.L1,li.L3,li.L5,li.L7,li.L9 { }

@media print {
  pre.prettyprint { background-color: none }
  pre .str, code .str { color: #060 }
  pre .kwd, code .kwd { color: #006; font-weight: bold }
  pre .com, code .com { color: #600; font-style: italic }
  pre .typ, code .typ { color: #404; font-weight: bold }
  pre .lit, code .lit { color: #044 }
  pre .pun, code .pun { color: #440 }
  pre .pln, code .pln { color: #000 }
  pre .tag, code .tag { color: #006; font-weight: bold }
  pre .atn, code .atn { color: #404 }
  pre .atv, code .atv { color: #060 }
}
/* end skim pretify*/

.html-pretty {
    position: absolute;
    left: 28%;
    font-size: 1.1vw;
    
}

.footer {
    padding-top: 12vw;
}

.footer-caption-txt {
    font-size: 6vw;
    text-transform: uppercase;
}

.animacao {
    transition: transform 400ms ease-in-out;
}

.trigger:hover .animacao {
    transform: scale(1.5);
}

a {
    color: #340040;
    text-decoration: none;
}