* {
    margin: 0;
    padding: 0;
    font-family: Helvetica, Verdana, sans-serif;
}

#fullpage {
    height: 100vh;
}

#fullpage section {
    height: 100vh;
    color: #340040;
}

#fullpage section:nth-child(1) h2 {
    font-size: 3vw;
}

.text-header {
    text-align: center;
    text-transform: uppercase;
    font-size: 5vw;
    padding: 3vh 0 5vh 0;
    opacity: 0;
    transition: 2s ease-out;
}

.in {
    opacity: 1;
    transform: translateY(2vh);
}

.icone {
    width: 20vh;
    height: 20vh;
    padding-top: 20vh;
    border-radius: 50%;
}

.video-container {
    display: flex;
    justify-content: space-around;
}

.video {
    width: 33.2vw;
    min-height: 38vh;
}

figcaption a {
    text-decoration: underline;
}

.shadow-strong {
    box-shadow: 0 0 20px 1px rgba(196, 196, 196, .75);
}

.shadow {
    box-shadow: 4px 5px 20px 1px rgba(0,0,0,0.75);
}

.flex-container {
    display: -webkit-flex;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.first-section {
    padding-top: 25vh;
    max-height: 30vh
}

.container {
    position: relative;
}

.overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #39f56a82;
    overflow: hidden;
    width: 100%;
    height: 0;
    transition: .5s ease;
}

.container:hover .overlay {
    height: 100%;
}

.text {
    color: #370042;
    font-size: 2.5vh;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
}

figure {
    text-align: center;
    width: 33.20vw;
    padding: 5vh 5vw;
}

.knowleges, .skills {
    width: 33.20vw;
    padding: 4vw;
    text-align: center;
    font-size: 2vw;
    text-transform: uppercase;
}

.knowleges p, .skills p {
    font-size: 2.3vw;
    font-weight: bold;
}

ul {
    list-style-type: none;
}

figcaption {
    padding-top: 5vh;
    font-size: 2vw;
}

h3 {
    color: #340040;
}

#fullpage section:nth-child(4) {
    background-color: #07F2F2;
}

#fullpage section:nth-child(1) {
    color: #05F26C;
    background-color: #340040;
}

#fullpage section:nth-child(2) {
    background: #05F26C;
}

#fullpage section:nth-child(3) {
    background: #EAF205;
}

/*youtube*/
.youtube {
    background-color: #000;
    position: relative;
    overflow: hidden;
    cursor: pointer;
}
.youtube img {
    width: 100%;
    top: -16.84%;
    left: 0;
    opacity: 0.7;
}
.youtube .play-button {
    width: 90px;
    height: 60px;
    background-color: #333;
    box-shadow: 0 0 30px rgba( 0,0,0,0.6 );
    z-index: 1;
    opacity: 0.8;
    border-radius: 6px;
}
.youtube .play-button:before {
    content: "";
    border-style: solid;
    border-width: 15px 0 15px 26.0px;
    border-color: transparent transparent transparent #fff;
}
.youtube img,
.youtube .play-button {
    cursor: pointer;
}
.youtube img,
.youtube iframe,
.youtube .play-button,
.youtube .play-button:before {
    position: absolute;
}
.youtube .play-button,
.youtube .play-button:before {
    top: 50%;
    left: 50%;
    transform: translate3d( -50%, -50%, 0 );
}
.youtube iframe {
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
}
/*end youtube*/

/*start lightbox*/

.row:after {
    content: "";
    display: table;
    clear: both;
}

/* The Modal (background) */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    overflow: auto;
    background-color: #05F26C;
}

/* Modal Content */
.modal-content {
    position: relative;
    margin: auto;
    padding: 0;
    width: 90%;
    height: 100%;
    text-align: center;
}

/* The Close Button */
.close {
    color: white;
    position: absolute;
    top: 10px;
    right: 25px;
    font-size: 35px;
    font-weight: bold;
    z-index: 1;
}

.close:hover,
.close:focus {
    color: #999;
    text-decoration: none;
    cursor: pointer;
}

.mySlides {
    display: none;
    left: 0;
    right: 0;
}

.modal-img {
    max-height: 98vh;
    max-width: 90vw;
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    -webkit-animation-name: zoom;
    -webkit-animation-duration: 0.6s;
    animation-name: zoom;
    animation-duration: 0.6s;
}

@-webkit-keyframes zoom {
    from {-webkit-transform:scale(0)} 
    to {-webkit-transform:scale(1)}
}

@keyframes zoom {
    from {transform:scale(0)} 
    to {transform:scale(1)}
}


/* Next & previous buttons */
.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 2vw;
    color: white;
    background-color: #340040;
    font-weight: bold;
    transition: 0.6s ease;
    border-radius: 50%;
    user-select: none;
    -webkit-user-select: none;
}

.prev {
    left: 0;
}

/* Position the "next button" to the right */
.next {
    right: 0;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
    background-color: rgba(52, 0, 64, .8);
}

/* Number text (1/3 etc) */
.numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}

.caption-container {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 5vh;
    margin-left: 0;
    margin-right: 0;
    font-size: 3vh;
}

img.demo {
    opacity: 0.6;
}

.active,
.demo:hover {
    opacity: 1;
}

img.hover-shadow {
    transition: 0.3s
}

.hover-shadow:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19)
}

.flex-portfolio {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.slider-img {
    height: 20vh;
    width: 15vw;
    object-fit: cover;
    margin: 1vh;
    cursor: pointer;
}
/*end lightbox*/

/*start gist*/

body .gist .highlight {
    background: #272822;
}
body .gist .blob-num,
body .gist .blob-code-inner,
body .gist .pl-s2,
body .gist .pl-stj {
    color: #f8f8f2;
}
body .gist .pl-c1 {
    color: #ae81ff;
}
body .gist .pl-enti {
    color: #a6e22e;
    font-weight: 700;
}
body .gist .pl-st {
    color: #66d9ef;
}
body .gist .pl-mdr {
    color: #66d9ef;
    font-weight: 400;
}
body .gist .pl-ms1 {
    background: #fd971f;
}
body .gist .pl-c,
body .gist .pl-c span,
body .gist .pl-pdc {
    color: #75715e;
    font-style: italic;
}
body .gist .pl-cce,
body .gist .pl-cn,
body .gist .pl-coc,
body .gist .pl-enc,
body .gist .pl-ens,
body .gist .pl-kos,
body .gist .pl-kou,
body .gist .pl-mh .pl-pdh,
body .gist .pl-mp,
body .gist .pl-mp1 .pl-sf,
body .gist .pl-mq,
body .gist .pl-pde,
body .gist .pl-pse,
body .gist .pl-pse .pl-s2,
body .gist .pl-mp .pl-s3,
body .gist .pl-smi,
body .gist .pl-stp,
body .gist .pl-sv,
body .gist .pl-v,
body .gist .pl-vi,
body .gist .pl-vpf,
body .gist .pl-mri,
body .gist .pl-va,
body .gist .pl-vpu {
    color: #66d9ef;
}
body .gist .pl-cos,
body .gist .pl-ml,
body .gist .pl-pds,
body .gist .pl-s,
body .gist .pl-s1,
body .gist .pl-sol {
    color: #e6db74;
}
body .gist .pl-e,
body .gist .pl-ef,
body .gist .pl-en,
body .gist .pl-enf,
body .gist .pl-enm,
body .gist .pl-entc,
body .gist .pl-entm,
body .gist .pl-eoac,
body .gist .pl-eoac .pl-pde,
body .gist .pl-eoi,
body .gist .pl-mai .pl-sf,
body .gist .pl-mm,
body .gist .pl-pdv,
body .gist .pl-som,
body .gist .pl-sr,
body .gist .pl-vo {
    color: #a6e22e;
}
body .gist .pl-ent,
body .gist .pl-eoa,
body .gist .pl-eoai,
body .gist .pl-eoai .pl-pde,
body .gist .pl-k,
body .gist .pl-ko,
body .gist .pl-kolp,
body .gist .pl-mc,
body .gist .pl-mr,
body .gist .pl-ms,
body .gist .pl-s3,
body .gist .pl-smc,
body .gist .pl-smp,
body .gist .pl-sok,
body .gist .pl-sra,
body .gist .pl-src,
body .gist .pl-sre {
    color: #f92672;
}
body .gist .pl-mb,
body .gist .pl-pdb {
    color: #e6db74;
    font-weight: 700;
}
body .gist .pl-mi,
body .gist .pl-pdi {
    color: #f92672;
    font-style: italic;
}
body .gist .pl-pdc1,
body .gist .pl-scp {
    color: #ae81ff;
}
body .gist .pl-sc,
body .gist .pl-sf,
body .gist .pl-mo,
body .gist .pl-entl {
    color: #fd971f;
}
body .gist .pl-mi1,
body .gist .pl-mdht {
    color: #a6e22e;
    background: rgba(0, 64, 0, .5);
}
body .gist .pl-md,
body .gist .pl-mdhf {
    color: #f92672;
    background: rgba(64, 0, 0, .5);
}
body .gist .pl-mdh,
body .gist .pl-mdi {
    color: #a6e22e;
    font-weight: 400;
}
body .gist .pl-ib,
body .gist .pl-id,
body .gist .pl-ii,
body .gist .pl-iu {
    background: #a6e22e;
    color: #272822;
}

.code-gist {
    padding: 10vh 10vw;
}
/*end gist*/

.footer {
    padding-top: 12vw;
}

.footer-caption-txt {
    font-size: 6vw;
    text-transform: uppercase;
}

.animacao {
    transition: transform 400ms ease-in-out;
}

.trigger:hover .animacao {
    transform: scale(1.5);
}

a {
    text-decoration: none;
}

li a {
    color: #fff;
    text-decoration: underline;
} 

/*MOBILE*/
@media screen and (max-width: 500px) {

    .text-header {
        font-size: 9vw;
        padding: 3vh 0 0 0;
        
    }

    .flex-container {
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        /* padding-top: 30vh; */
    }
    
    .ancoras-header {
        font-size: 1.2rem;
    }

    figure {
        width: 90vw;
    }

    .first-section {
        padding-top: 30vh;
    }

    .knowleges, .skills {
        width: 90vw;
        font-size: 5vw;
    }
    
    .knowleges p, .skills p {
        font-size: 7vw;
    }

    .video {
        width: 85vw;
        min-height: 28vh;
        margin: 2.5vh;
    }

    .slider-img {
        height: 10vh;
        width: 25vw;
    }

    .flex-portfolio {
        padding-top: 2vh;
    }

    .footer .text-header {
        padding: 3vh 0 5vh 0;
    }
}